pre {
    font-size: 14px;
    padding: 1em;
    border: 1px solid black;
    width: 80ch;
}

blockquote {
    font-family: monospace;
    font-size: 14px;
    margin-left: 0;
    padding: 0em 1em 0em 1em;
    border: 1px solid black;
    width: 80ch;
}
